{% extends 'base.html' %}
{% block  title %}
      Home -
  {% endblock title %} 
{% block body %}
  <div class="container my-3">
    <h2> Add A Todo</h2>
    <form action="/" method="POST">
      <div class="mb-3">
        <label for="title" class="form-label">Todo Title</label>
        <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="desc" class="form-label">Task</label>
        <input type="text" class="form-control" id="desc" name="desc">
      </div>
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>
  </div>
  <div class="container my-3">
    {% if alltodo|length == 0 %}
    <div class="alert alert-danger" role="alert">
      No Todos Found. Add Your Todos here!
    </div>
    {% else %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Serial No.</th>
          <th scope="col">Title</th>
          <th scope="col">Desc</th>
          <th scope="col">Time</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for i in alltodo %}
        <tr>
          <th scope="row">{{loop.index}}</th>
          <td>{{i.title}}</td>
          <td>{{i.desc}}</td>
          <td>{{i.data_created}}</td>
          <td>
            <a href="/update/{{i.srno}}" type="button" class="btn btn-outline-dark btn-sm mx-2">Update</button>
            <a href="/delete/{{i.srno}}" type="button" class="btn btn-outline-dark btn-sm mx-2">Delete</button>
            </td>
        </tr>

        {% endfor %}
        {% endif %}

      </tbody>
    </table>
  </div>

        
  {% endblock  body %}
